@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/helpers/colors";

.nav-bar-container {
    letter-spacing: 0.1em;

    ul {
        display: flex;
        @include align-items(center);

        li {
            &:not(:last-child) {
                margin-right: 15px;
            }

            font-size: 18px;

            a {
                transition: .5s;
                color: $white;
                &:hover {
                    color: $blue-light;
                }
            }
        }
    }
}

.active {
    color: $blue-light !important;
}
