@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/helpers/colors";

.nav-bar-container {
    letter-spacing: 0.1em;
    user-select: none;

    ul {
        display: flex;
        @include align-items(center);

        li {

            &:not(:first-child) {
                a:hover {
                    &:after {
                        position: absolute;
                        bottom: -10px;
                        content: " ";
                        height: 5px;
                        width: 5px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        background-color: $orange-light;
                    }
                }
            }


            border-radius: 3px;
            padding: 2px;
            font-size: 14px;
            position: relative;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &:first-child {
                a {
                    background-color: $orange-light;
                    padding: 5px 15px;
                    border-radius: 15px;
                    font-weight: 800;
                    color: $black;
                }
            }

            a {
                position: relative;
                transition: .5s;
                color: $white;
            }
        }
    }

    .burger-menu {
        display: none;
        position: absolute;
        top: 26px;
        right: 26px;

        i {
            cursor: pointer;
            font-size: 20px;
        }
    }

    .active {
        &:after {
            position: absolute;
            bottom: -10px;
            content: " ";
            height: 5px;
            width: 5px;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $orange-light;
        }
    }

    .display-block {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .nav-bar-container {

        .active {
            &:after {
                content: none;
            }
        }

        ul {
            display: none;
            background-image: url("../../../assets/images/main-background.svg");
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 20px;
            padding-top: 3.25rem;

            li {
                font-size: 16px;

                a {
                    padding: 2.5px 10px;
                    border-radius: 15px;
                    font-weight: 800;
                }

                &:not(:first-child) {
                    a:hover {
                        background-color: $orange-light;
                        color: $black;

                        &:after {
                            content: none;
                        }
                    }
                }



                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .burger-menu {
        display: block !important;
    }
}
