@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/helpers/colors";

.nav-bar-container {
    letter-spacing: 0.1em;

    ul {
        display: flex;
        @include align-items(center);

        li {
            &:not(:last-child) {
                margin-right: 15px;
            }

            font-size: 18px;

            a {
                transition: .5s;
                color: $white;
                &:hover {
                    color: $blue-light;
                }
            }
        }
    }

    .burger-menu {
        display: none;
        position: absolute;
        top: 33px;
        i {
            font-size: 20px;
        }
    }

    .active {
        color: $blue-light !important;
    }

    .display-block {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .nav-bar-container {
        ul {
            display: none;
            background: #292F3F;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 20px;

            li {
                font-size: 20px;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .burger-menu {
        display: block !important;
    }
}
