@import '../../../assets/styles/helpers/colors';

.new-campaign-container {
    margin-top: 25px;

    .page-title {
        text-align: center;
        h3 {
            color: $white;
        }
    }

    .container {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 0 auto;
        margin-top: 15px;
        max-width: 800px;
        background-color: $white;
        box-shadow: 0 0 15px .5px $black;

        .section-title {

        }

        .objectives-list {
            .objective-items {
                display: flex;
                justify-content: space-between;
                border: 1px solid red;
            }
        }
    }
}
