<div class="new-campaign-container">
    <div class="page-title">
        <h3>Build Your Campaign</h3>
    </div>

    <div class="container">
        <div>
            <div class="section-title">Select Your Objective</div>
        </div>

        <div class="objectives-list">
            <div class="objective-section">
                <div class="title">Awareness</div>
                <div class="items">
                    <div class="item"
                         [class.active]="objective === selectedObjective"
                         *ngFor="let objective of firstSection"
                         (click)="selectObjective(objective)">
                        <div class="name">{{objective.name}}</div>
                        <i class="icon-info"
                           [pTooltip]="objective.tooltipText"
                           tooltipPosition="top"></i>
                    </div>
                </div>
            </div>
            <div class="objective-section">
                <div class="title">Consideration</div>
                <div class="items">
                    <div class="item"
                         [class.active]="objective === selectedObjective"
                         *ngFor="let objective of secondSection"
                         (click)="selectObjective(objective)">
                        <div class="name">{{objective.name}}</div>
                        <i class="icon-info"
                           [pTooltip]="objective.tooltipText"
                           tooltipPosition="top"></i>
                    </div>
                </div>
            </div>
            <div class="objective-section">
                <div class="title">Conversions</div>
                <div class="items">
                    <div class="item"
                         [class.active]="objective === selectedObjective"
                         *ngFor="let objective of thirdSection"
                         (click)="selectObjective(objective)">
                        <div class="name">{{objective.name}}</div>
                        <i class="icon-info"
                           [pTooltip]="objective.tooltipText"
                           tooltipPosition="top"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="objective-header">
            <div class="section-title">Campaign Setup</div>
            <div class="dropdown-container">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity1"></p-dropdown>
            </div>
        </div>

        <div class="content">
            <div class="selected-objective-title">
                Objective
            </div>

            <div class="objective-details">
                <div class="logo">
                    <img src="https://ads-interfaces.sc-cdn.net/f5fe2821a1e84346d560350c10541fe2.svg" alt="Objective Logo">
                </div>
                <div class="credentials">
                    <div class="name">Awareness</div>
                    <div class="description">Increase awareness of your brand or product.</div>
                </div>
            </div>

            <div class="campaign-info-section">
                <div class="title">Campaign Name</div>
                <div class="form-input">
                    <label>
                        <input type="text" [placeholder]="selectedObjective || 'Your Campaign Name'" [value]="selectedObjective?.name">
                    </label>
                </div>
            </div>

            <div class="campaign-info-section">
                <div class="title">
                    Status
                    <div>
                        <i class="icon-info"
                           pTooltip="Tooltip example text"
                           tooltipPosition="right">
                        </i>
                    </div>
                </div>
                <div class="form-input-switch">
                    <app-input-switch></app-input-switch>
                </div>
            </div>

            <div class="campaign-info-section">
                <div class="title">Starts & Ends</div>
                <div class="calendar-container">
                    <div class="form-input-calendar">
                        <app-calendar [placeholder]="'Immediately'"></app-calendar>
                        <div class="title under-input">Pacific Time</div>
                    </div>

                    <div class="form-input-calendar">
                        <app-calendar [placeholder]="'Run Immediately'"></app-calendar>
                        <div class="title under-input">Pacific Time</div>
                    </div>
                </div>
            </div>

            <div class="campaign-info-section">
                <div class="title">
                    DailySpend Cap
                    <div>
                        <i class="icon-info"
                           pTooltip="Tooltip example text"
                           tooltipPosition="right">
                        </i>
                    </div>
                </div>
                <div class="form-input">
                    <label>
                        <input type="number" placeholder="No Cap">
                    </label>
                </div>
            </div>

            <div class="campaign-info-section">
                <div class="title">
                    LifetimeSpend Cap
                    <div>
                        <i class="icon-info"
                           pTooltip="Tooltip example text"
                           tooltipPosition="right">
                        </i>
                    </div>
                </div>
                <div class="form-input">
                    <label>
                        <input type="number" placeholder="No Cap">
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="next-page">
        <button>
            <span>Next page</span>
            <i class="icon-arrow-right2"></i>
        </button>
    </div>
</div>
