@import '../../../assets/styles/helpers/colors';

.new-campaign-container {
    margin-top: 25px;

    .page-title {
        text-align: center;
        h3 {
            color: $white;
        }
    }

    .container {
        width: 100%;
        height: auto;
        padding: 10px 20px;
        margin: 0 auto;
        margin-top: 15px;
        max-width: 800px;
        background-color: $white;
        box-shadow: 0 0 15px .5px $black;

        .section-title {
            font-weight: 900;
        }

        .objectives-list {
            display: flex;
            margin-top: 15px;

            .objective-section {
                min-height: 100px;
                width: 100%;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                .title {
                    font-weight: 400;
                    color: #656b73;
                    font-size: 12px;
                    letter-spacing: 0;
                    margin-bottom: 15px;
                }

                .items {
                    .item {
                        width: 100%;
                        height: 50px;
                        color: #16191c;
                        box-shadow: none;
                        background: #dddddd;
                        padding: 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: 0.5s;
                        cursor: pointer;
                        margin-bottom: 5px;
                        border-radius: 10px;
                        border: 1px solid  darkgray;

                        &:hover {
                            background-color: #155e78;
                            color: white;
                        }

                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .content {
            .selected-objective-title {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .objective-details {
                display: flex;
                align-items: center;

                .logo {
                    margin-right: 15px;
                }

                .credentials {
                    .name {
                        font-weight: 600;
                    }

                    .description {
                        font-size: 12px;
                    }
                }


            }
        }
    }
}
