@import '../../../assets/styles/helpers/colors';

.new-campaign-container {
    margin-top: 25px;

    .page-title {
        text-align: center;
        h3 {
            color: $white;
        }
    }

    .container {
        width: 100%;
        height: auto;
        padding: 10px 20px;
        margin: 0 auto;
        margin-top: 15px;
        max-width: 800px;
        background-color: $white;
        box-shadow: 0 0 15px .5px $black;

        .objective-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section-title {
            font-weight: 900;
        }

        .objectives-list {
            display: flex;
            margin-top: 15px;

            .objective-section {
                min-height: 100px;
                width: 100%;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                .title {
                    font-weight: 400;
                    color: #656b73;
                    font-size: 12px;
                    letter-spacing: 0;
                    margin-bottom: 15px;
                }

                .items {
                    .item {
                        width: 100%;
                        height: 50px;
                        color: #16191c;
                        box-shadow: none;
                        background: #dddddd;
                        padding: 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: 0.5s;
                        cursor: pointer;
                        margin-bottom: 5px;
                        border-radius: 10px;
                        border: 1px solid  darkgray;

                        &:hover {
                            //background-color: #155e78;
                            background-color: grey;
                            color: white;
                        }

                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .content {
            .selected-objective-title {
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 12px;
            }

            .objective-details {
                display: flex;
                align-items: center;

                .logo {
                    margin-right: 15px;
                }

                .credentials {
                    .name {
                        font-weight: 600;
                        font-size: 12px;
                    }

                    .description {
                        font-size: 12px;
                    }
                }
            }

            .campaign-info-section {
                margin-top: 15px;

                .title {
                    font-size: 12px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;

                    div {
                        margin-left: 10px;
                        padding-top: 3px;

                        i {
                            font-size: 15px;
                            color: lightgrey;
                        }
                    }
                }

                .calendar-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .under-input {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

.form-input {
    input {
        background: #F7F7E7;
        border-radius: 4px;
        border: 1px solid #f7f7f7;
        box-shadow: 0 0 0 0 transparent;
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        box-sizing: border-box;
        padding: 0 0 0 12px;
        transition: box-shadow .15s ease-out .15s,border-color .15s ease-out,background .15s ease-out .15s,color .15s ease-out;
        width: 100%;

        &:focus {
            outline: none;
            border-bottom: 2px solid #155e78 !important;
        }
    }
}
