$black: #1b1b1b;
$white: #ffffff;
$gold: #F9E3A7;

$blue: #4886ff;
$blue-dark: #3073f6;
$blue-shadow: rgba(72, 134, 255, 0.45);
$blue-light: #12a5f4;
$blue-deep-dark: #181727;

$grey: #bcc0d1;
$grey-light: #e9ecf6;
$grey-middle-light: #d8d8d8;
$grey-dark: #8c96a9;
$grey-shadow: rgba(49, 56, 78, 0.18);

$red: #d50000;
$pink: #ea4183;
$coral: #ff6c5f;
$green: #20ad23;
$green-dark: #107f12;
$green-light: #b9c237;
$orange-light: #F9E3A7;
$orange: #fbad50;
$purple: #6b4feb;
$blue-green: #00a289;
$dark-blue: #292F3F;


