<div class="contact-container">
    <div class="container">

        <label for="email">E Post</label>
        <input [formControl]="form.get('first_name')" type="text" id="email" placeholder="E Post">

        <label for="subject">Subject</label>
        <input [formControl]="form.get('last_name')" type="text" id="subject" placeholder="Subject">

        <label for="message">Message</label>
        <textarea [formControl]="form.get('subject')" id="message" placeholder="Write something.." style="height:200px"></textarea>

        <button (click)="submitForm()">Send</button>
    </div>
</div>
