<div class="contact-container px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 py-8">
    <div class="contact-info flex flex-col sm:flex-row items-center sm:space-x-8">
        <img src="assets/images/contact-page-image.svg" alt="Contact Us Image" class="w-32 h-32 sm:w-48 sm:h-48 mb-4 sm:mb-0">

        <p class="contact-text text-center sm:text-left">
            <strong class="headline text-lg sm:text-xl font-semibold">We'd Love to Hear From You!</strong><br />
            Contact us via email at:<br />
            <span class="email text-blue-500">hello&#64;moonlightapp.co</span>
        </p>
    </div>
</div>

<p-toast baseZIndex="100" position="top-right"></p-toast>

<div class="modal" *ngIf="showLoader">
    <div class="modal-content flex justify-center items-center">
        <img src="../../../assets/images/loading.gif" alt="Loading" class="w-16 h-16 sm:w-24 sm:h-24">
    </div>
</div>

   <!-- <div class="container">
        <form [formGroup]="form" action="https://formspree.io/mbnkornm" method="POST">
            <label for="email">E Post</label>
            <input type="text" id="email" [formControl]="form.get('email')">

            <label for="subject">Subject</label>
            <input type="text" id="subject" [formControl]="form.get('subject')">

            <label for="message">Message</label>
            <textarea id="message" [formControl]="form.get('message')"></textarea>

            <button [disabled]="form.invalid" (click)="submitForm()">Send</button>
        </form>

        <div class="info-text">
            Important Note: We respect privacy and will only use your email to answer your queries.
        </div>
    </div>
</div>-->