<div class="message-item-container clearfix" [class.float-right]="message.isQuestion">
    <div class="avatar float-left" *ngIf="!message.isQuestion && !isHomePage">
        <img [src]="message.avatar" alt="UserAvatar">
    </div>
    <div class="credentials">
<!--        <div  class="message-title"-->
<!--              [class.color-orange]="message.isQuestion"-->
<!--              [class.color-light-blue]="!message.isQuestion">-->
<!--            {{message.title}}-->
<!--        </div>-->
        <div  class="message-title" [ngStyle]="{color: message.color}">
            {{message.title}}
        </div>
        <div class="message-content">{{message.content}}</div>
    </div>
</div>
