@import "../../../assets/styles/helpers/colors";
@import "../../../assets/styles/helpers/mixins";

.message-item-container {
    //background-color: hsla(89, 43%, 51%, 0.1);
    min-height: 75px;
    //max-width: 350px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    background: rgba(41, 47, 63, 0.33);
    pointer-events: none;
    user-select: none;

    .message-title {
        margin-bottom: 15px;
        pointer-events: none;
    }

    .message-content {
        color: $white;
        word-break: break-word;
        pointer-events: none;
    }

    .color-orange {
        color: $orange;
    }

    .color-light-blue {
        color: $blue-light;
    }

    .avatar {
        width: 100px;
        margin-right: 10px;
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .message-item-container {
        min-height: 55px;
        max-width: 350px;
        background: rgba(41, 47, 63, 1);

        .message-title {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .message-item-container {
        min-height: 45px;
        max-width: 250px;
        background: rgba(41, 47, 63, 1);

        .message-title {
            margin-bottom: 10px;
        }
    }
}