@import "../../../assets/styles/helpers/colors";

.home-container {
    .no-scale {
        transform: scale(1, 0);
        transition: .8s;
        transform-origin: bottom;
        pointer-events: none;
    }

    .scale {
        transform: scale(1, 1);
        transition: .5s;
        transform-origin: bottom;
    }

    .message-box-modal {
        display: none;
        position: absolute;
        background-image: url("../../../assets/images/main-background.svg");
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;

        img {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, -50%)
        }

        //background-color: #292F3F;
    }

    .hide {
        transform: scale(1, 0);
        transition: .8s;
        transform-origin: top;
    }

    .show {
        transform: scale(1, 1);
        transition: .5s;
        transform-origin: top;
    }

    .message-box-content {
        top: 50%;
        left: 50%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
        max-width: 1200px;
        pointer-events: none;

        p {
            color: white;
            font-size: 45px;
        }

        .angle-top {
            margin-top: 30px;

            i {
                font-size: 12px;
                color: #12a5f4;
            }
        }

        .back-button-text {
            font-size: 15px;
            margin-top: 10px;
        }
    }

    .home-section {
        position: absolute;
        //border: 1px solid white;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1200px;
        height: 800px;
        background: url(../../../assets/images/mockupiphone.svg) no-repeat left;
        background-size: 800px;
        background-position: -10% 25%;

        .section-title {
            font-size: 80px;
            margin: 130px 0 0;
            color: $white;
        }
    }

    .angle {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        font-size: 20px;

        img {
            cursor: pointer;
            height: auto;
            width: 50px;
        }

        i {
            cursor: pointer;
        }
    }

    div.angle {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    div.angle {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    @keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }

    .play-icon-container {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 77px;
        width: 77px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .5);
        justify-content: center;
        align-items: center;
    }
}

.icon-googleplay:before {
    color: white;
}

@media only screen and (max-width: 800px) {
    .home-container {

        .angle {
            display: none;
        }

        .home-section-message-box {
            display: none;
        }

        .message-box-modal {
            display: block;
        }

        .play-icon-container {
            display: flex;
        }

        .home-section {
            background-size: 1000px;
            background-position: 43% 5%;
            width: 100%;
        }
    }
}
