@import "../../../assets/styles/helpers/colors";

.home-container {
    .no-scale {
        transform: scale(1, 0);
        transition: .8s;
        transform-origin: bottom;
    }

    .scale {
        transform: scale(1, 1);
        transition: .5s;
        transform-origin: bottom;
    }

    .message-box-modal {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #292F3F;
    }

    .hide {
        transform: scale(1, 0);
        transition: .8s;
        transform-origin: top;
    }

    .show {
        transform: scale(1, 1);
        transition: .5s;
        transform-origin: top;
    }

    .message-box-content {
        top: 50%;
        left: 50%;
        text-align: center;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        position: absolute;
        width: 100%;
        max-width: 1200px;

        p {
            color: white;
            font-size: 45px;
        }

        .angle-top {
            margin-top: 30px;

            i {
                font-size: 12px;
                color: #12a5f4 ;
            }
        }

        .back-button-text {
            font-size: 15px;
            margin-top: 10px;
        }
    }

    .home-section {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        max-width: 650px;
        height: 650px;
        background: url(../../../assets/images/iPhone-8-and-X-mockup.png) no-repeat left;
        background-size: 750px;
        padding-left: 195px;
        background-position-x: -310px;

        .section-title {
            font-size: 80px;
            margin: 130px 0 0;
            color: $white;
        }
    }

    .angle {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100px;
        font-size: 20px;

        img {
            cursor: pointer;
            height: 50px;
            width: 50px;
        }

        i {
            cursor: pointer;
        }
    }

    div.angle {
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    div.angle {
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
}

.icon-googleplay:before {
    color: white;
}

@media only screen and (max-width: 800px) {
    .home-container {
        .home-section {
            height: 450px;
            background-size: 600px;
            background-position-x: -210px;
            .section-title {
                font-size: 50px;
            }
        }
    }
}

@media only screen and (max-width: 490px) {
    .home-container {
        background-size: 550px;
        .home-section {
            padding-left: 170px;

            .section-title {
                font-size: 45px;
                margin: 130px 30px 0;
            }
        }
    }
}

@media only screen and (max-width: 410px) {
    .home-container {
        .home-section {
            padding-left: 170px;

            .section-title {
                font-size: 25px;
            }
        }
        .angle {
            width: 50px;
        }
    }
}

@media only screen and (max-width: 315px) {
    .home-container {
        .home-section {
            padding-left: 113px;
            height: 450px;
            background-size: 450px;
            background-position-x: -81px;
            background-position-y: 20px;

            .section-title {
                font-size: 25px;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 280px) {
    .home-container {
        .home-section {
            padding-left: 20px;
            height: 450px;
            background-size: 450px;
            background-position-x: -170px;
            background-position-y: 20px;

            .section-title {
                font-size: 25px;
                margin: 0;
            }
        }
    }
}
