<div class="home-container">
    <div class="home-section">
        <h1 class="section-title">
            <div>Chat</div>
            <div>historier!</div>
        </h1>
    </div>

    <ng-container *ngIf="showMessageBox">
        <div class="message-box-modal no-scale"
             [class.no-scale]="!showScale"
             [class.scale]="showScale">
            <app-message-box (lastMessage)="onLastMessage()"
                             [isHomePage]="true"
                             [messages]="messages"
                             [modalIsVisible]="showMessageBox"></app-message-box>
        </div>
    </ng-container>

    <div class="angle" (click)="toggleModal()">
        <img src="../../../assets/images/2x/baseline_play_circle_filled_white_48dp.png" alt="">
<!--        <i class="icon-angle-bottom"></i>-->
    </div>

    <div class="download-links">
        <ul>
            <li>
                <a [routerLink]="['/']">
                    <i class="icon-appleinc"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/']">
                    <i class="icon-googleplay"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/']">
                   <i class="icon-facebook2"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/']">
                    <i class="icon-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
