@import "../../../assets/styles/helpers/colors";

.home-container {
    .no-scale {
        transform: scale(1, 0);
        transition: .8s;
        transform-origin: bottom;
    }

    .scale {
        transform: scale(1, 1);
        transition: .5s;
        transform-origin: bottom;
    }

    .message-box-modal {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #292F3F;
    }

    .home-section {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        max-width: 820px;
        height: 650px;
        background: url(https://hooked.co/images/xhero-phone.png.pagespeed.ic.BeYPaN0-dw.png) no-repeat left;
        //background: url(../../../assets/images/mobile_image_iphonexspacegrey_portrait.png) no-repeat left;
        //background: url(../../../assets/images/mockuper.png) no-repeat left;
        //background: url(../../../assets/images/mockuper_1.png) no-repeat left;
        background-size: 367px;
        padding-left: 265px;
        border: 1px solid transparent;

        .section-title {
            font-size: 80px;
            margin: 125px 0 0;
            color: $white;
        }
    }

    .angle {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100px;
        font-size: 20px;

        img {
            cursor: pointer;
            height: 50px;
            width: 50px;
        }

        i {
            cursor: pointer;
        }
    }

    div.angle {
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    div.angle {
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
}

@media only screen and (max-width: 800px) {
    .home-container {
        .home-section {
            height: 450px;
            background-size: 285px;
            .section-title {
                font-size: 50px;
            }
        }
    }
}

@media only screen and (max-width: 490px) {
    .home-container {
        .home-section {
            padding-left: 170px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .home-container {
        .home-section {
            padding-left: 55px;

            .section-title {
                margin: 0;
                font-size: 25px;
            }
        }
        .angle {
            width: 50px;
        }
    }
}
