@import "../../../assets/styles/helpers/colors";
@import "../../../assets/styles/helpers/mixins";

.team-container {
    height: 100vh;
    overflow-y: auto;

    .switch-profile {
        position: absolute;
        right: 90px;
        margin-top: 5px;
        z-index: 1600;
        top: 70px;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .team-header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 70px;
        flex-wrap: wrap;
        padding: 10px;

        .image-container {
            flex: 1 1 160px;
            img {
                width: 100%;
            }
        }

        .description-container  {
            flex: 1 1 160px;
            line-height: 30px;
            word-break: break-word;
            color: #F9E3A7;
        }
    }

    .team-info-container {
        background-color: #E5E5E5;
        text-align: center;
        padding: 15px;
        padding-top: 50px;

        .info-card-item {
            display: inline-block;
            vertical-align: top;
            max-width: 200px;
            width: 100%;
            margin-bottom: 50px;
            margin-right: 100px;
        }
    }

    .message-box-container {
        height: 650px;
        max-width: 820px;
    }

    .team-box-container {
        max-width: 1180px;
        padding: 10px 15px;
        transition: .5s;
        margin-top: 120px;
        padding-bottom: 50px;

        .team-title {
            color: $gold;
            margin-left: 95px;
            font-size: 20px;
            font-weight: 800;
            text-align: left;
            margin-bottom: 80px;
        }

        .team-box-container-content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            flex-wrap: wrap;

            .team-member {

            }
        }
    }
}

::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    //background: $blue;
    background: $gold;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 800px) {
    .team-container {
        .switch-profile {
            right: 5px;
        }

        .team-info-container {
            .info-card-item {
                margin-right: unset;
            }
        }
    }
}
