<div class="team-container scroll">
    <div class="team-header-container">

        <!--    <div class="switch-profile">-->
<!--        <app-input-switch [checked]="profileMode"-->
<!--                          (onChange)="profileMode = $event"-->
<!--                          [label]="profileMode ? 'Grid' : 'List'"-->
<!--                          [showSwitchValue]="false"></app-input-switch>-->
<!--    </div>-->
<!--    <div class="container message-box-container" *ngIf="!profileMode">-->
<!--        <app-message-box [modalIsVisible]="true"-->
<!--                         [messages]="messages"></app-message-box>-->
<!--    </div>-->


        <div class="image-container">
            <img src="assets/images/about_page_header_image.png" alt="About us image">
        </div>
        <div class="description-container">
            We’ve discovered a huge opportunity to mix creating, reading, teaching, and learning into bite-sized pieces. Moonlight is the only app that lets you freely explore any style or genre across all these areas without any paywalls or limitations. Plus, with our $ML token, you can support your favorite creators and unlock even more features. We offer a fun, safe, and interactive platform that’s super easy to use and beautifully designed.
        </div>
    </div>

    <!-- <div class="team-info-container">
        <div class="info-card-item" *ngFor="let item of teamInfoItems">
            <app-info-card [item]="item"></app-info-card>
        </div>
    </div> -->
    
    <div class="team-box-container" *ngIf="profileMode">
        <div class="team-title">
            THE PEOPLE RESPONSIBLE FOR THE FUTURE SUCCESS OF MOONLIGHT:
        </div>
    
        <!-- Founders and Core-Team Section -->
        <div class="team-section">
            <div class="section-title">FOUNDERS AND CORE-TEAM</div>
            <div class="team-box-container-content">
                <div class="team-member" *ngFor="let profile of profiles.foundersAndCoreTeam">
                    <img [src]="profile.avatar" [alt]="'Photo of ' + profile.firstName + ' ' + profile.lastName">
                    <div class="name">{{ profile.firstName }} {{ profile.lastName }}</div>
                    <div class="role">{{ profile.role }}</div>
                    <div class="link" *ngIf="profile.link && profile.platform">
                        <a [href]="profile.link" target="_blank" rel="noopener noreferrer">
                            <img [src]="'assets/images/' + getPlatformIcon(profile.platform)" 
                                 [alt]="profile.platform + ' Icon'" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Marketing Section -->
        <div class="team-section">
            <div class="section-title">MARKETING</div>
            <div class="team-box-container-content">
                <div class="team-member" *ngFor="let profile of profiles.marketing">
                    <img [src]="profile.avatar" [alt]="'Photo of ' + profile.firstName + ' ' + profile.lastName">
                    <div class="name">{{ profile.firstName }} {{ profile.lastName }}</div>
                    <div class="role">{{ profile.role }}</div>
                    <div class="link" *ngIf="profile.link && profile.platform">
                        <a [href]="profile.link" target="_blank" rel="noopener noreferrer">
                            <img [src]="'assets/images/' + getPlatformIcon(profile.platform)" 
                                 [alt]="profile.platform + ' Icon'" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Investors and Advisors Section -->
        <div class="team-section">
            <div class="section-title">INVESTORS AND ADVISORS</div>
            <div class="team-box-container-content">
                <div class="team-member" *ngFor="let profile of profiles.investorsAndAdvisors">
                    <img [src]="profile.avatar" [alt]="'Photo of ' + profile.firstName + ' ' + profile.lastName">
                    <div class="name">{{ profile.firstName }} {{ profile.lastName }}</div>
                    <div class="role">{{ profile.role }}</div>
                    <div class="link" *ngIf="profile.link && profile.platform">
                        <a [href]="profile.link" target="_blank" rel="noopener noreferrer">
                            <img [src]="'assets/images/' + getPlatformIcon(profile.platform)" 
                                 [alt]="profile.platform + ' Icon'" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
