@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2hxl3u');
  src:  url('fonts/icomoon.eot?2hxl3u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2hxl3u') format('truetype'),
    url('fonts/icomoon.woff?2hxl3u') format('woff'),
    url('fonts/icomoon.svg?2hxl3u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-t:before {
  content: "\e927";
}
.icon-eye:before {
  content: "\e926";
}
.icon-csv:before {
  content: "\e923";
}
.icon-pdf:before {
  content: "\e924";
}
.icon-xls:before {
  content: "\e925";
}
.icon-check-round:before {
  content: "\e91d";
}
.icon-warning:before {
  content: "\e922";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-top:before {
  content: "\e903";
}
.icon-angle-bottom:before {
  content: "\e904";
}
.icon-angle-top:before {
  content: "\e905";
}
.icon-chat:before {
  content: "\e906";
}
.icon-board:before {
  content: "\e907";
}
.icon-drag:before {
  content: "\e908";
}
.icon-zoomin:before {
  content: "\e909";
}
.icon-zoomout:before {
  content: "\e90a";
}
.icon-time2:before {
  content: "\e90b";
}
.icon-today:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-week:before {
  content: "\e90e";
}
.icon-planner:before {
  content: "\e90f";
}
.icon-print2:before {
  content: "\e910";
}
.icon-save2:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-mark:before {
  content: "\e913";
}
.icon-export2:before {
  content: "\e914";
}
.icon-filter:before {
  content: "\e915";
}
.icon-logo:before {
  content: "\e916";
}
.icon-logout:before {
  content: "\e917";
}
.icon-dotes:before {
  content: "\e918";
}
.icon-calendar2:before {
  content: "\e919";
}
.icon-dayoff:before {
  content: "\e91a";
}
.icon-trash:before {
  content: "\e91b";
}
.icon-close:before {
  content: "\e91c";
}
.icon-bell2:before {
  content: "\e91e";
}
.icon-angle-left:before {
  content: "\e91f";
}
.icon-angle-right:before {
  content: "\e920";
}
.icon-alert:before {
  content: "\e921";
}
.icon-edit:before {
  content: "\e92f";
}
.icon-save:before {
  content: "\e92b";
}
.icon-export:before {
  content: "\e92c";
}
.icon-print:before {
  content: "\e92e";
}
.icon-calendar:before {
  content: "\e928";
}
.icon-time:before {
  content: "\e929";
}
.icon-bell:before {
  content: "\e92a";
}
.icon-delete:before {
  content: "\e92d";
}
