@import "../../../assets/styles/helpers/colors";
@import "../../../assets/styles/helpers/mixins";

.user-profile-container {
    .avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        border: 1px solid $grey-light;
    }

    .credentials {
        max-width: 150px;
        text-align: center;
        margin-top: 7px;
    }

    .role {
        font-size: 12px;
        margin-top: 5px;
        font-style: italic
    }
}
