<div class="beta-container">
    <div class="container">

        <div class="title">
            <h1>Beta is out now</h1>
            <h5>When we first started to develop the first ever Norwegian storytelling app (we currently support English and Norwegian) we had a long long LONG list of tools we wanted to implement. Be one of the first people to get access on our beta version and try out these tools.</h5>
        </div>

        <form [formGroup]="form" action="https://formspree.io/mbnkornm" method="POST">

            <button (click)="goToTestFlight()">Download from TestFlight</button>
        </form>
    </div>
</div>

<p-toast baseZIndex="100" position="top-right"></p-toast>

<div id="myModal" class="modal" *ngIf="showLoader">
    <div class="modal-content">
        <img src="../../../assets/images/loading.gif" alt="">
    </div>

</div>
