<div class="beta-container">
    <div class="container">

        <div class="title">
            <h1>Beta out in 1 day</h1>
            <h5>Be one of the first people to get access on our beta version by submitting your Play Store or App Store id.</h5>
        </div>

        <form [formGroup]="form" action="https://formspree.io/mbnkornm" method="POST">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Email" [formControl]="form.get('email')">

            <div class="radio-button">
            <app-radio-button [label]="'Android'" [selectedValue]="1" (select)="getSelectedDevice($event)"></app-radio-button>
            </div>

            <div class="radio-button">
                <app-radio-button [label]="'iPhone'" [selectedValue]="2" (select)="getSelectedDevice($event)"></app-radio-button>
            </div>

            <button (click)="form.valid && submitForm()">Submit</button>
        </form>
    </div>
</div>

<p-toast baseZIndex="100" position="top-right"></p-toast>

<div id="myModal" class="modal" *ngIf="showLoader">
    <div class="modal-content">
        <img src="../../../assets/images/loading.gif" alt="">
    </div>

</div>
