.dashboard {
    background-image: url("../../../assets/images/bg_stars.png");
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;

    .main-container {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1500;
        padding: 30px 70px 60px;
        transition: transform 800ms;
    }
}

@media only screen and (max-width: 800px) {
    .dashboard {
        .header {
            padding: 30px 15px 30px 0;
        }
    }
}

@media only screen and (max-width: 490px) {
    .dashboard {
        .header {
            padding: 30px 15px 30px 0;
        }
    }
}
