<div class="dashboard">
    <div class="main-container">
        <div class="header padding-bottom-30">
            <app-header></app-header>
        </div>

        <div class="container">
            <router-outlet></router-outlet>
        </div>

        <div class="download-links">
            <ul (click)="$event.stopPropagation()">
                <li>
                    <a [routerLink]="['/']">
                        <i class="icon-appleinc"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']">
                        <i class="icon-googleplay"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']">
                        <i class="icon-facebook2"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/moonlightappstories/" target="_blank">
                        <i class="icon-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
