@import "../../../assets/styles/helpers/colors";
@import "../../../assets/styles/helpers/mixins";

.message-box-container {
    margin: auto;
    max-width: 650px;
    margin-left: 90px;
    width: 100%;
    min-width: 550px;
    position: fixed;
    top: 40%;
    left: 70%;
    transition: all 0.5s;
    transform: translate(-50%, -90px);
    pointer-events: none;
    user-select: none;
    --message-top-limit: 240px; // Default value

    .visible {
        opacity: 1 !important;
    }

    .message-item {
        position: relative;
        padding: 5px 2.5px;
        border-radius: 25px;
        font-family: Verdana sans-serif;
        letter-spacing: 0.02em;
        font-size: 20px;
        line-height: 1.2;
        font-weight: normal;
        opacity: 0;
        -webkit-transform: translateY(20px) scale(.9);
        -moz-transform: translateY(20px) scale(.9);
        -ms-transform: translateY(20px) scale(.9);
        transform: translateY(20px) scale(.9);
        transition: transform 150ms , opacity 150ms;
        user-select: none;
    }
}

@media only screen and (max-width: 768px) {
    .message-box-container {
        --message-top-limit: 180px; // Adjusted value for smaller screens
    }    
    .message-box-container {
        margin-left: 0;
        top: 50%;
        left: 50%;
        max-width: 350px;
        min-width: 250px;
        user-select: none;
    }
}

@media only screen and (max-width: 1024px) {
    .message-box-container {
        --message-top-limit: 180px; // Adjusted value for smaller screens
    }    
    .message-box-container {
        margin-left: 0;
        top: 50%;
        left: 50%;
        max-width: 450px;
        min-width: 350px;
        user-select: none; 
    }
}
