@import "../../../assets/styles/helpers/colors";

.invest-on-us-container {
    position: relative;
    width: 100%;
    max-width: 820px;
    margin: 80px auto;
    padding: 20px;
    margin-top: 240px;

    .container-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        img {
            width: 45%;
            max-width: 400px;
            margin-right: 20px;
        }

        .container-content {
            flex: 1;
            min-width: 300px;

            p {
                color: $gold;
                line-height: 1.6;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &:first-child {
                    font-size: 22px;
                    font-weight: 800;
                }
            }
        }
    }

    .container-footer {
        background-color: #EAEAEA;
        padding: 40px;
        margin-top: 50px;
        border-radius: 10px;

        .footer-title {
            text-align: center;
            font-size: 18px;
            color: $blue-deep-dark;
            font-weight: 800;
            margin-bottom: 30px;
        }

        .investment-placeholder {
            text-align: center;
            color: $blue-deep-dark;

            p {
                margin-bottom: 20px;
                line-height: 1.6;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .invest-on-us-container {
        .container-header {
            flex-direction: column;
            text-align: center;

            img {
                width: 70%;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}