<div class="invest-in-us-container scroll">
    <div class="container-header">
        <img src="assets/images/invest-on-us-image.svg" alt="Invest on Us">
        <div class="container-content">
            <p>Ready to take a stake and be part of this venture?</p>
            <p>We are aiming for a market leader position, and we believe we have discovered a unique market gap that no one is currently filling.</p>
            <p>We are a solid team, experienced in the most critical key areas. With this digital shift, we are well-connected and flexible in working from anywhere, anytime. Our team is deeply committed to Moonlight and we don't give up, no matter how complex the problem.</p>
            <p>If you aim to be part of this next big tech venture, stay tuned for exciting investment opportunities!</p>
        </div>
    </div>

    <div class="container-footer">
        <p class="footer-title">New Investment Information Coming Soon</p>
        <div class="investment-placeholder">
            <p>We are currently preparing a comprehensive investment prospectus. Our team is working diligently to provide you with detailed information about our innovative venture.</p>
        </div>
    </div>
</div>


  <!-- <div class="container-footer">
        <div class="footer-title">
            It's now or never. We won’t ask for investments forever.
        </div>
        <div class="form-container">
            <div>
                <input [formControl]="form.get('name')" placeholder="Full Name" type="text">
                <input [formControl]="form.get('email')" placeholder="Email" type="email">
            </div>
            <div>
                <input [formControl]="form.get('phone')" placeholder="Contact Number" type="tel">
                <button [disabled]="form.invalid" (click)="submit()">Request a call</button>
            </div>
        </div>
    </div>
</div>-->