@import '../../../assets/styles/helpers/colors';

.campaign-main {
    padding: 20px 10px;
    min-height: 100vh;
    height: auto;
    height: 100%;
    background-image: url("../../../assets/images/main-background.svg");
}
