@import '../../../assets/styles/helpers/colors';

.ad-sets-container {
    position: relative;

    .page-title {
        text-align: center;
        h3, h4 {
            color: $white;
        }

        h4 {
            margin-top: 5px;
            font-size: 14px;
        }
    }

    .container {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 35px 20px;
        margin-top: 15px;
        max-width: 930px;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0 0 15px .5px $black;
        margin-bottom: 15px;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .checkbox-menu-list {
            margin-left: 25px;
        }

        .form-input-radio {
            margin-bottom: 10px;
        }

        .form-input-checkbox {
            margin-bottom: 10px;
        }

        .section-title {
            font-weight: 900;
            margin-bottom: 15px;
        }

        .section {
            margin-top: 15px;

            .placeholder {
                display: flex;
                margin-bottom: 10px;

                .name {
                    font-weight: 400;
                    color: #656b73;
                    font-size: 12px;
                    letter-spacing: 0;
                    margin-right: 10px;
                }

                i {
                    font-size: 15px;
                    color: lightgrey;
                }
            }

            .form-input-calendar {
                width: 48%;

                .under-input {
                    font-size: 12px;
                    margin-top: 5px;
                }
            }

            .divider-simple {
                margin-left: 15px;
                margin-right: 15px;
            }

            .custom-button {
                margin-right: 15px;
                height: 50px;
                width: 100px;
                font-size: 16px;
                background-color: lightgrey;
                transition: .7s;
                border-radius: 10px;
                text-align: center;
                padding: 15px;
                cursor: pointer;

                &:hover {
                    background-color: darkgrey;
                    color: white;
                }
            }

            .form-input {
                input {
                    background: #F7F7E7;
                    border-radius: 4px;
                    border: 1px solid #f7f7f7;
                    box-shadow: 0 0 0 0 transparent;
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    height: 35px;
                    box-sizing: border-box;
                    padding: 0 0 0 12px;
                    transition: box-shadow .15s ease-out .15s,border-color .15s ease-out,background .15s ease-out .15s,color .15s ease-out;
                    width: 100%;

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid #155e78 !important;
                    }
                }
            }

            .ad-types {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .add-type {
                height: 150px;
                width: 200px;
                background-color: lightgrey;
                border-radius: 10px;
                text-align: center;
                padding: 15px;
                cursor: pointer;
                box-sizing: border-box;
                transition: .7s;

                &:hover {
                    border: 2px solid #155e78;
                }
            }

            .location-drop-downs {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .section-actions {
            .map {
                height: 40px;
                width: 70px;
                text-align: center;
                padding: 9px;
                border-radius: 42% 0 0 42%;
                border: 1px solid black;
                cursor: pointer;
            }

            .explore {
                height: 40px;
                width: 70px;
                text-align: center;
                padding: 9px;
                border-radius: 0 42% 42% 0;
                background-color: black;
                color: white;
                border: 1px solid black;
                cursor: pointer;
            }

            .upload {
                height: 40px;
                width: 40px;
                margin-left: 15px;
                text-align: center;
                padding: 10px;
                border-radius: 50%;
                border: 1px solid black;
                cursor: pointer;
            }
        }
    }

    .info-box {
        height: 200px;
        width: 320px;
        border-radius: 5px;
        background-color: white;
        position: absolute;
        right: 10px;
        top: 58px;
        padding: 15px;

        .title {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .info-body {
            padding: 5px;
            border-bottom: 1px solid lightgray;
            border-left: 2px solid #155e78;
            min-height: 50px;
            margin-top: 10px;
            display: flex;
            align-items: center;

            .icon {
                margin-right: 10px;
            }

            .text {
                .title {
                    font-size: 12px;
                    margin-bottom: 15px;
                }

                .text-body {
                    font-size: 10px;
                    i {
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }

            .tooltip {
                position: relative;

                i {
                    font-size: 16px;
                    cursor: pointer;
                }

                .tooltip-row {
                    padding: 5px;

                    &:hover {
                        background-color: lightgray;
                    }
                }

                .tooltip-container {
                    position: absolute;
                    min-height: 70px;
                    min-width: 200px;
                    padding: 10px;
                    right: 0;
                    background-color: white;
                    box-shadow: 0 0 10px 0 #000000;
                    border-radius: 7px;
                }

                .ui-button-rounded {

                }
            }
        }

        .button {
            margin-top: 15px;

            button {
                height: 35px;
                width: 100%;
                border: 1px solid lightgray;
                background-color: white;
                border-radius: 15px;
            }
        }
    }
}

.ad-type-active {
    border: 2px solid #155e78 !important;
}

.active-option {
    background-color: darkgrey !important;
    color: white !important;
}

.file-upload-label {
    i {
        font-size: 22px;
        cursor: pointer;
    }
}

.navigation-button {
    &.previews-page {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &.publish {
        position: absolute;
        bottom: 0;
        right: 0;
    }


    button {
        height: 35px;
        border-radius: 5px;
        padding: 5px;
        min-width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        background-color: #155e78;
        border: 1px solid white;
        transition: .7s;

        &:hover {
            background-color: white;
            color: #155e78;
            border: 1px solid #155e78;
        }

        span {
            font-size: 16px;
        }

        i {
            font-size: 16px;
            margin-right: 25px;
        }
    }
}
