@import "../../../assets/styles/helpers/mixins";

.header-container {
    display: flex;
    position: relative;
    @include justify-content(space-between);
    @include align-items(center);

    .header-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        padding:2rem;
        position: relative;

        img {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 800px) {
    .header-container {
        .logo {
            height: 40px;
            padding:2rem;
        }
    }
}

@media only screen and (max-width: 490px) {

}
