@import "../../../assets/styles/helpers/mixins";

.header-container {
    display: flex;
    @include justify-content(space-between);
    @include align-items(center);

    .logo {
        height: 50px;
        cursor: pointer;

        img {
            height: 100%;
        }
    }

    .nav-bar-menu {

    }
}
