<div class="team-container scroll p-4 sm:p-6 md:p-8 items-center text-center">
    <!-- Team Header Section -->
    <div class="team-header-container mb-12 flex flex-col items-center text-center">
        <div class="image-container mb-8 w-full max-w-sm">
            <img src="assets/images/about_page_header_image.png" alt="About us image" class="w-full h-auto rounded-lg">
        </div>
        <div class="space-y-16 w-full max-w-5xl px-6 items-center text-center">
            <div class="title-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg  mx-8">
                <p>Title 1</p>
            </div>
            <div class="description-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg shadow-lg mx-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan, purus a tempor laoreet, purus turpis interdum metus, nec suscipit mi nulla vel orci. Vivamus facilisis urna nec velit egestas, at facilisis quam accumsan. Nulla in vestibulum ex, nec tempor tortor. Sed euismod lorem id ligula condimentum, nec feugiat massa volutpat. Aenean quis nibh nec turpis eleifend hendrerit. Cras imperdiet libero a efficitur viverra.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan, purus a tempor laoreet, purus turpis interdum metus, nec suscipit mi nulla vel orci. Vivamus facilisis urna nec velit egestas, at facilisis quam accumsan. Nulla in vestibulum ex, nec tempor tortor. Sed euismod lorem id ligula condimentum, nec feugiat massa volutpat. Aenean quis nibh nec turpis eleifend hendrerit. Cras imperdiet libero a efficitur viverra.</p>
            </div>
            <div class="title-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg  mx-8">
                <p>Title 2</p>
            </div>
            <div class="description-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg shadow-lg mx-8">
                <p>Fusce sodales velit nec arcu scelerisque, nec accumsan nisi posuere. Ut vel nulla sit amet metus bibendum convallis. Proin sit amet felis a magna fermentum egestas id non metus. Morbi auctor erat sit amet neque gravida, id sagittis turpis pulvinar. Donec congue urna eu scelerisque tempor. Integer posuere mi vitae tristique interdum. Aenean tempor turpis ut nisi vulputate, at feugiat est rhoncus.</p>
                <p>Fusce sodales velit nec arcu scelerisque, nec accumsan nisi posuere. Ut vel nulla sit amet metus bibendum convallis. Proin sit amet felis a magna fermentum egestas id non metus. Morbi auctor erat sit amet neque gravida, id sagittis turpis pulvinar. Donec congue urna eu scelerisque tempor. Integer posuere mi vitae tristique interdum. Aenean tempor turpis ut nisi vulputate, at feugiat est rhoncus.</p>
            </div>
            <div class="title-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg  mx-8">
                <p>Title 3</p>
            </div>
            <div class="description-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg shadow-lg mx-8">
                <p>Nam sodales sapien a lectus eleifend, eget scelerisque elit mollis. Suspendisse potenti. Sed ut sagittis elit, eget lacinia augue. Ut bibendum, ipsum a facilisis hendrerit, sapien turpis viverra arcu, non tincidunt libero velit nec erat. Donec scelerisque nisi eget ligula efficitur, nec laoreet dui pellentesque. In ut lacus quis ex molestie lacinia at non urna.</p>
                <p>Nam sodales sapien a lectus eleifend, eget scelerisque elit mollis. Suspendisse potenti. Sed ut sagittis elit, eget lacinia augue. Ut bibendum, ipsum a facilisis hendrerit, sapien turpis viverra arcu, non tincidunt libero velit nec erat. Donec scelerisque nisi eget ligula efficitur, nec laoreet dui pellentesque. In ut lacus quis ex molestie lacinia at non urna.</p>
            </div>
            <div class="title-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg  mx-8">
                <p>Title 4</p>
            </div>
            <div class="description-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg shadow-lg mx-8">
                <p>Aliquam erat volutpat. Integer at mi ut erat eleifend pretium. Nulla tristique, libero vel pellentesque facilisis, libero purus dignissim nunc, sed iaculis ligula turpis non sapien. Duis ultricies luctus velit, non euismod tortor interdum eget. Nunc tristique nisl non eros ullamcorper, a hendrerit libero vestibulum. Donec ut ligula ut lectus congue aliquet. Vestibulum non libero vel nulla elementum venenatis.</p>
                <p>Aliquam erat volutpat. Integer at mi ut erat eleifend pretium. Nulla tristique, libero vel pellentesque facilisis, libero purus dignissim nunc, sed iaculis ligula turpis non sapien. Duis ultricies luctus velit, non euismod tortor interdum eget. Nunc tristique nisl non eros ullamcorper, a hendrerit libero vestibulum. Donec ut ligula ut lectus congue aliquet. Vestibulum non libero vel nulla elementum venenatis.</p>
            </div>
            <div class="title-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg  mx-8">
                <p>Title 5</p>
            </div>
            <div class="description-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg shadow-lg mx-8">
                <p>Morbi sed dui vitae risus consequat euismod. Sed cursus consequat metus id congue. Praesent dapibus sapien in purus tristique, ut ultricies metus sagittis. Nulla facilisi. Pellentesque tincidunt, orci id fermentum dapibus, turpis erat ornare quam, ac venenatis eros erat eget mauris. Integer sit amet magna non dolor tincidunt faucibus. Nulla facilisi. Maecenas vel lacus eu sapien tristique luctus.</p>
                <p>Morbi sed dui vitae risus consequat euismod. Sed cursus consequat metus id congue. Praesent dapibus sapien in purus tristique, ut ultricies metus sagittis. Nulla facilisi. Pellentesque tincidunt, orci id fermentum dapibus, turpis erat ornare quam, ac venenatis eros erat eget mauris. Integer sit amet magna non dolor tincidunt faucibus. Nulla facilisi. Maecenas vel lacus eu sapien tristique luctus.</p>
            </div>
            <div class="space-y-16 w-full max-w-5xl px-6 items-center text-center">
                <div class="title-container text-lg sm:text-xl text-gray-700 p-10 rounded-lg  mx-8">
                    <p>Meet the Team</p>
                </div>

                <!-- Team Members List -->
                <div class="team-members-list flex flex-wrap justify-center gap-6">
                    <div *ngFor="let member of allMembers"
                         class="team-member text-gray-800 cursor-pointer p-2 rounded-lg hover:bg-gray-200"
                         (mouseenter)="showMemberDetails(member)"
                         [class.active]="member === selectedMember">
                        <p class="font-semibold">{{ member.firstName }} {{ member.lastName }}</p>
                    </div>
                </div>

                <!-- Team Member Details -->
                <div class="team-member-details p-6 mt-8 rounded-lg shadow-lg text-center bg-gray-100 items-center text-center">
                    <h3 class="team-text text-lg font-semibold">{{ selectedMember.firstName }} {{ selectedMember.lastName }}</h3>
                    <p class="team-text ">{{ selectedMember.role }}</p>
                    <p class="team-text italic">{{ selectedMember.team }}</p>
                </div>
            </div>
            <div class="title-container text-lg sm:text-xl text-gray-700 p-12 rounded-lg  mx-8 flex flex-col items-center text-center">
                <p>Moonlight 2025</p>
            </div>
        </div>
    </div>
</div>
