$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-info1: "\e933";
$icon-info: "\e932";
$icon-info-with-circle: "\e931";
$icon-logo-t: "\e927";
$icon-eye: "\e926";
$icon-csv: "\e923";
$icon-pdf: "\e924";
$icon-xls: "\e925";
$icon-check-round: "\e91d";
$icon-warning: "\e922";
$icon-arrow-bottom: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-top: "\e903";
$icon-angle-bottom: "\e904";
$icon-angle-top: "\e905";
$icon-chat: "\e906";
$icon-board: "\e907";
$icon-drag: "\e908";
$icon-zoomin: "\e909";
$icon-zoomout: "\e90a";
$icon-time2: "\e90b";
$icon-today: "\e90c";
$icon-user: "\e90d";
$icon-week: "\e90e";
$icon-planner: "\e90f";
$icon-print2: "\e910";
$icon-save2: "\e911";
$icon-mail: "\e912";
$icon-mark: "\e913";
$icon-export2: "\e914";
$icon-filter: "\e915";
$icon-logo: "\e916";
$icon-logout: "\e917";
$icon-dotes: "\e918";
$icon-calendar2: "\e919";
$icon-dayoff: "\e91a";
$icon-trash: "\e91b";
$icon-close: "\e91c";
$icon-bell2: "\e91e";
$icon-angle-left: "\e91f";
$icon-angle-right: "\e920";
$icon-alert: "\e921";
$icon-edit: "\e92f";
$icon-save: "\e92b";
$icon-export: "\e92c";
$icon-print: "\e92e";
$icon-calendar: "\e928";
$icon-time: "\e929";
$icon-bell: "\e92a";
$icon-delete: "\e92d";
$icon-googleplay: "\e930";
$icon-menu: "\e9bd";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-appleinc: "\eabe";

